/* Your Website Styles */
html {
  background: url("../img/cartographer.png");
  font-family: 'Open Sans Condensed', sans-serif;
}

img{
 	width: 100px;
 	padding: 0px 15px 20px 11px;
 	float: left;
 }

 p{
 	margin: 16px 50px 16px 5px;
 	font-family: 'Raleway', sans-serif;
 	color: grey;
 }

header{
	font-family: 'Open Sans Condensed', sans-serif;


}

 h1{
 	color: #DA6826;
 	text-transform: uppercase;
 	margin: 20px 0px 5px 0px;
 	font-family: 'Lato', sans-serif; font-weight: 900;
 }

h2{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Lato', sans-serif; font-weight: 400;
	color: #BD0505;
	padding: ;
}

h3{
	font-family: 'Raleway', sans-serif;
	color: #30302F;
}

h4{
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0px 5px 5px;
}

h5{
	font-family: 'Raleway', sans-serif;
	color: #Da6826;
}

footer{
	text-align: center;
	font-size: 10px;
}
.info{
 	color: grey;
 	text-transform: uppercase;
 	margin: 0px;
 }

.resume{
	color: #BD0505;
	font-family: 'Raleway', sans-serif;
 }

.year{
 	background: #DA6826;
 	color: white;
 	text-align: center;
 	float: right;
 	clear: right;
 	margin-top: -37px;
 	width: 85px;
 }

 .contact{
 	margin: 0px 0px 5px 0px;
 }
 /*box styling*/
.container {
	background: #f7f7f7;
	padding: 0px 20px 10px 20px;
}


 /*ul styling*/
ul{
	margin: 16px 50px 16px 0px
}

li{
	color: grey;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

/* Base Nav Styling */
nav{
  background: #F7F7F7;
  color: #B10000;

}

nav li {
  float: right;
  list-style: none;
  margin: 12px 10px 12px 0px;
  color:#B10000;
  font-family: 'Open Sans Condensed', sans-serif;
}
 
/* Link States */
nav a:link,
nav a:visited {
  color: ;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #B10000;
}
 
nav a:hover,
nav a:active {
  background: #B10000;

}

#bio a:hover {
  background: url("../img/print.png") no-repeat left center;
}

#resume a:hover {
  background: url("../img/clip.png") no-repeat left center;
}

#port a:hover {
  background: url("../img/pen.png") no-repeat left center;
} 
